/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f8;
  height: 100vh;
}
.heading {
  color: #2d3a35;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto';
  text-align: center;
}
.para {
  font-size: 15px;
  font-family: 'Roboto';
  color: #2d3a35;
  text-align: center;
}
.button {
  height: 50px;
  width: 150px;
  border-radius: 10px;
  color: #ffffff;
  border-width: 0px;
  background-color: #007bff;
}
.span-content {
  color: #c20a72;
  font-weight: bold;
}
